<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Repositories</h1>

  <table class="table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Contributors</th>
          <th>Commits</th>
          <th>Stars</th>
          <th>Last Commit</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @repos.each do |repo| %>
        <tr>
            <td><%= repo.name %></td>
            <td><%= repo.contributors_count %></td>
            <td><%= repo.commits_count %></td>
            <td><%= repo.stars_count %></td>
            <td><%= repo.last_commit_at %></td>
          <td><%= link_to 'Edit', edit_repo_path(repo) %></td>
          <td><%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Repo', new_repo_path, class: "btn btn-success min-width-btn" %>

</div>
